
.contentLayout{
  padding: 90px 0 40px 0;
  width: 1240px;
  margin: 0 auto;
}


.containerLayout{
  min-height: 100vh;
  background: #FBFBFB;

}


.mainHeaderLayout{
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top:0;
  z-index: 1;
}


.footer {
  width: 1240px;
  margin: 0 auto;
}