
.contentLayout{
  padding: 90px 0 40px 0;
  width: 100%;
}


.containerLayout{
  min-height: 100vh;
  background: #FFFFFF;
  width: 1240px;
  margin: 0 auto;


}


.mainHeaderLayout{
  width: 1240px;
  position: fixed;
  top:0;
  z-index: 1;
}

.footer {
  background: #FFFFFF;

}
