.mainFooter{
  margin-bottom: 40px;
}

.textFooter{
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.actionFooter{
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}