.mainHeader{
  padding: 12px 0px;
  border-bottom: 1px solid #E5E5E5;
  width: 1240px;
  margin: 0 auto;
}

.textHeader {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.btnDarkMode{
  height: 48px;
  width: 48px !important;
}

.selectLanguage{
  width: 120px;
  height: 48px !important;
}