@import '../../../../styles/color.scss';

.inputText {
  border-radius: 4px;
  &:hover {
    border: 1px solid $primary;
    border-color: $primary;
  }
  &:focus,
  &:active,
  &:visited,
  &:focus-visible {
    box-shadow: none;
    border: 1px solid $primary;
    border-color: $primary;
    background: $white;
  }
  
  &:global(.ant-input-status-error) {
    border-color: $danger !important;
    &::after {
      display: block !important;
      content: '*' !important;
      color: $danger;
      visibility: unset !important;
  
    }
  }

  &:global(.ant-input-disabled) {
    border-color: #A3A3A3 !important;
    background-color: #E5E5E5 !important;
  }

 
}

.hasIcon {
  &:global(.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled)) {
    &:hover {
      border-color: $primary !important;
    }
  }
  

  :global {
    .ant-input-prefix {
      margin-right: 15px;
    }
    .ant-input-suffix {
      margin-left: 15px;
    }
  }

  &:global(.ant-input-affix-wrapper-focused) {
    background: $white !important;
    border: 1px solid $primary !important;
    box-shadow: none;
    &:hover {
      border-color: $primary !important;
    }
    input {
      background: $white !important;
    }
  }

 
}

