$white: #ffffff;
$black: #1B1B1B;

// primary
$primary: #818CF8;
$primary-1: #ECEEF9;



$secondary-0: #bc9666;


$dark-0: #1c1c28;

$gray: #737373;


$success-1: #099d5d;


$warning-1: #e8a700;


$danger: #DB371F;


$link-1: #0066ff;


