@import "./color.scss";

.ant-select-selector:hover {
  border-color: $primary !important;
}
.ant-select-focused .ant-select-selector{
  border-color: $primary !important;
  box-shadow: none !important;
}

.ant-select-item-option-active {
  background-color: $primary-1 !important;
  color: $primary !important;

}
.ant-select-item-option-hover {
  background-color:$primary-1!important;
  color: $primary !important;

}
.ant-select-item-option-selected {
  background-color: $primary-1!important;
  color: $primary !important;
}

.ant-card {
  box-shadow: 0px 4px 12px 0px rgba(118, 118, 118, 0.03) !important;
}

.ant-upload-wrapper .ant-upload-drag:hover {
  border-color: $primary !important;
}
.ant-mentions{
  border-radius: 4px;
  min-height: 45px;
  display: flex !important;
  align-items: center !important;
}
.ant-mentions:hover{
    border-color: $primary !important;
}
.ant-mentions-focused  {
  border-color: $primary !important;
  box-shadow: none !important;
}